
.contact-left .contact-item{
  display: flex;
  gap: 15px;
  
}
.contact-left{
  position: relative;
  font-size: 18px;
 color: #ffc107;  
  text-shadow: 1px 1px 3px #ffc107;
}
.contact-left p{
  color:  rgb(249, 250, 244);
  text-shadow:none;
  font-weight: 600;
}
.contact-left::before{
  content: '';
  position: absolute;
  width: 1px;
  background-color: aliceblue;
  height: 100%;
  right: 0;
  bottom: 0;
}
.form-control{
  /* background: #363232; */
  color: black;
  outline: none!important;
}